* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('fundo.jpg'); /* Substitua 'fundo.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 500px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.5); /* Adicionando uma borda brilhante */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com transparência */
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5); /* Efeito de sombra */
}

.container form {
    width: 100%; /* Alterado para 100% */
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputBox {
    width: 100%;
    margin: 10px 0;
    border-radius: 30px; /* Arredondando os campos */
    overflow: hidden;
}

.inputBox input[type="text"],
.inputBox input[type="email"] {
    width: 100%;
    height: 50px;
    border-radius: 35px; /* Arredondando os campos */
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox textarea {
    width: 100%;
    height: 120px;
    border-radius: 10px; /* Arredondando os campos */
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #707272;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.checkbox-container input[type="checkbox"]:checked::before {
    content: '\2713';
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.checkbox-container label {
    font-size: 18px;
    font-family: Arial, sans-serif; /* Define a fonte */
    color: #707272; /* Define a cor do texto */
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.inputBox {
    flex: 1 1 auto;
}

.form-group-checkbox {
    display: flex;
    gap: 15px;
}

/* Estilo para opções de checkbox */
.form-group-checkbox label {
    margin-right: 10px;
    font-weight: Arial; /* Adiciona negrito */
    color: #707272;
    font-size: 18px; /* Define a cor */
}

/* Estilo para "Qual estado pertence" */
#label-estado {
    font-weight: Arial; /* Adiciona negrito */
    color: #707272; /* Define a cor */
    font-size: 18px; /* Ajusta o tamanho da fonte */
    margin-right: 10px; /* Adiciona margem à direita */
    margin-left: -15px; /* Move um pouco para a esquerda */
}

/* Estilo para o container do estado */
#estado-container {
    display: flex;
    align-items: center;
    margin-left: -145px; /* Move um pouco para a esquerda */
}


.inputBox {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}

.inputBox button {
    width: 100%; /* Diminuí a largura para 70% */
    max-width: 230px; /* Adicionei um máximo de largura para evitar que o botão fique muito largo em telas maiores */
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(0, 119, 255);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    text-align: center; /* Centraliza o texto no botão */
}

.inputBox button:hover {
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}




::placeholder {
    font-size: 16px;
}

.alert {
    width: 100%;
    background: rgb(131, 237, 244);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}
